<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>paired</string>
	<string>watchAppInstalled</string>
	<string>complicationEnabled</string>
	<string>reachable</string>
	<string>sendMessage</string>
	<string>sendMessageData</string>
	<string>updateApplicationContext</string>
	<string>transferFile</string>
	<string>transferUserInfo</string>
	<string>transferCurrentComplicationUserInfo</string>
	<string>WCErrorCode</string>
</array>
</plist>
